.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > h1 {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.progress {
  display: flex;
  gap: 6rem;
  margin-left: 25%;
}

.progress > p {
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  padding: 10px 0;
  position: relative;

}
.progress > p::before {
  content: "";
  position: absolute;
  right: -6rem;
  width: 6rem;
  height: 2px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.progress > p.last::before {
  content: "";
  position: absolute;
  right: -6rem;
  width: 6rem;
  height: 0px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.progress > p.current {
  background-color: turquoise;
}

.inputTitle {
  font-size: 20pt;
}

.backNext {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 150px;
}

.backNext > #back {
  grid-column: 1 / 2;
  margin-left: 75px;
  min-width: 100px;
  font-size: 14pt;
  justify-self: start;
  border-radius: 5px;
}

.backNext > #next {
  grid-column: 3 / 4;
  margin-right: 75px;
  min-width: 100px;
  font-size: 14pt;
  justify-self: end;
  border-radius: 5px;
}

#back:hover {
  background-color: turquoise;
}

#next:hover {
  background-color: turquoise;
}

#home:hover {
  background-color: turquoise;
}

#home {
  min-width: 100px;
  font-size: 14pt;
  margin-top: 50px;
  border-radius: 5px;
}

#inputKasten {
  margin-top: 150px;
}

.werte {
  font-size: 10pt;
}

#input:hover {
  border: 2px solid turquoise;
  border-radius: 3px;
}